<div id="header">
  <div id="brand">
    <img src="/static/images/logo.png">
    <div class="menu">
      <a href="/">Home</a>
      <a href="/about-me">About</a>
    </div>
    <div class="brand-text">
      Adam Stokes<br />
      Engrish 1o1
    </div>
  </div>
</div>
