<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">{{ sitetitle }}</a>
    <a class="btn btn-primary navbar-btn" href="/">Home</a>
    <a class="btn btn-primary navbar-btn" href="/about-me">About</a>
  </div>
</nav>
