html
  body
    .container
      #header
        .logo
          img(src='/static/images/logo.png')
        .menu
          a.button.button-3d.button-primary.button-rounded.button-tiny(href='/') Home
        .blurb
          | Adam Stokes
          br
          | Bumblebee Tuna