<div class="sidebar">
  <h1>Current Projects</h1>
  <ul>
    <li><a href="http://openstack.astokes.org">Ubuntu OpenStack Installer</a></li>
    <li><a href="https://github.com/sosreport/sos">SOSreport</a></li>
  </ul>
  <h1>Resources</h1>
  <ul>
    <li><a href="http://jujucharms.com">Juju</a></li>
    <li><a href="http://maas.ubuntu.com">MAAS</a></li>
  </ul>
  <h1>Archives</h1>
  {{print_archive_years}}
</div>
