<div class="sidebar">
  <h1>Projects</h1>
  <a href="http://openstack.astokes.org">Ubuntu OpenStack Installer</a>
  <h1>Resources</h1>
  <a href="http://jujucharms.com">Juju</a>
  <a href="http://maas.ubuntu.com">MAAS</a>
  <h1>Archives</h1>
</div>
