@import "nib"
@import "jeet"
@import "variables"
@import "mixers"
@import "article"

body
  font-conent-mixin(16px)
  background url("/static/images/lined_paper_@2X.png") top left repeat
  padding 0
  margin 0
  a
    link-default(darker)

pre
  font-code-mixin()

section
  font-content-mixin(18px)
  width 960px
  margin auto

#header
  height 70px

#brand
  width 960px
  margin auto
  font-content-mixin(48px)
  font-weight bold
  color text-invert
  img
    border-radius(50px)
    height 65px

.brand-text
  font-brand-mixin(size = 16px)
  width 100px
  float right

.menu
  position relative
  width 200px
  a
    link-default()
