// padder
padder-left(n)
  padding-left n

padder-right(n)
  padding-right n

// font mixins
font-code-mixin()
  font-family: font-code
  font-size: 14px

font-content-mixin(size = 14px, color = text-default)
  font-family: font-content
  font-size: size
  color color

font-brand-mixin(color = text-default, size = 14px)
  font-family: font-brand
  font-size size
  color color

// circular
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

// link mixins
link-default(active = light, hover = bling, weight = bold)
  text-decoration none
  &:before
    content "[ "
  &:after
    content " ]"
  font-content-mixin(16px)
  font-weight weight
  color active
  &:hover
    color hover

// buttons
btn-default(radius = 5px)
  padding 5px
  background bling
  color text-default
  text-align center
  font-content-mixin(16px)