<div class="container">
  <div class="blog-roll">
    <h1>Archives</h1>
    {{#each posts}}
    <h2 class="article-header"><a href="{{post_path this}}">{{this.title}}</a></h2>
    <span class="article-date-pad-left">Posted on {{pretty this.date}}</span>
    {{/each}}
  </div>
  {{>sidebar}}
</div>
