extends ./layout/default.jade

block content
  section
    h1 Current Projects
    ul
      li
        a(href='http://openstack.astokes.org') Ubuntu OpenStack Installer
      li
        a(href='https://github.com/sosreport/sos') SOSreport
    h1 Resources
    ul
      li
        a(href='http://jujucharms.com') Juju
      li
        a(href='http://maas.ubuntu.com') MAAS
