extends ./layout/default.jade

block content
  section
    h1 Current Projects
    ul
      li
        a(href='http://openstack.astokes.org') Ubuntu OpenStack Installer
      li
        a(href='https://github.com/sosreport/sos') SOSreport
    h1 Resources
    ul
      li
        a(href='http://jujucharms.com') Juju
      li
        a(href='http://maas.ubuntu.com') MAAS
    h1 Consulting
    p.
      Some consulting work from time to time, mainly website creation and social
      media. I have a strong preference in working with non-profit organizations.
    ul
      li
        a(href="http://wakeforestmarket.org") Wake Forest Farmers Market 501(c)(3)
      li
        a(href="http://gfwithsarahb.com") Gluten-Free with Sarah B
      li
        a(href="http://shopgigis.com") Gigi's Boutique
      li
        a(href="http://consigningdesign.com") Consigning Design