<section>
  <article>
    <h1 class="article-header">{{post.title}}</h1>
    Posted in: <span class="article-tags">{{post.tags}}</span> on <span class="article-date">{{pretty post.date}}</span>
    {{{md post.md}}}
  </article>
</section>
