extends ./layout/default.jade

block content
  section
    article
      h1.article-header= post.title
      | Posted in: 
      span.article-tags= post.tags
      |  on 
      span.article-date= post.datehumanize
      != post.html
      #disqus_thread
      script(type='text/javascript').
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'astokes';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      noscript
        | Please enable JavaScript to view the 
block sidebar